.App {
  text-align: center;
}

.App-logo {
  height: 300px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-top: 30px;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.Preview {
  margin: auto;
  height: 100px;
  width: 30%;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 4px;
}

.Launch-Button {
  background-color: #282c34;
  border: 2px solid #282c34;
  border-radius: 4px;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: white;
  transition-duration: 0.4s;
}

.Launch-Button:hover {
  border: 2px solid #282c34;
  background-color: white;
  color: #282c34;
  cursor: pointer
}

input {
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
